extends ../templates/layout

// form will become part of the tweet message form

block content
  form(action='/geolocation/submit', method="POST")
    input(name="lat" id="lat")
    input(name="long" id="lng")
    input(type="submit" value="submit")
  div#map-canvas
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  script(src="clientgeo.js")
